
    body {
      background-color: #2F4F4F;;
    }
    h1 {
     font-family: courier new;
     text-align: center;
     color:#48D1CC;
    }
      h2 {
     font-family: courier new;
     text-align: center;
     color:#48D1CC;
      }
    p {
     font-family: courier new;
     font-size: 12px;
     color:#48D1CC
    }
    #titlecontent {
    border-style: solid;
    border-color: white;
    border-width: 10px;
    background-color: white;
    }
    .test {
    border-width: 8px;
    border-style: solid;
    border-top-color: #0077b3;
    border-bottom-color: #005580;
    border-left-color: #006699;
    border-right-color: #006699;
    }
    #game-link {
    width:25%;
    }
    #game-description {
    width:50%;
    }
    #footercontent {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-color: white;
    }
    a {
    text-decoration: none;
    color:#48D1CC;     
    }
